<a href="https://colab.research.google.com/github/Diegogp95/mineria/blob/develop_2020/Imputacion_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Carga del dataset ya procesado
 ...

Enlace:
*   Data 2020 ya procesada sin metadata: https://drive.google.com/file/d/1Uwc6GfF4xSgUfaQySX9MAjU000OLjby-/view

In [8]:
%%shell
# STATIONS DATA 2020
# download the Custom dataset from created Drive folder.
wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt --keep-session-cookies --no-check-certificate 'https://docs.google.com/uc?export=download&id=1Uwc6GfF4xSgUfaQySX9MAjU000OLjby-' -O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=1Uwc6GfF4xSgUfaQySX9MAjU000OLjby-" -O data_2020.csv && rm -rf /tmp/cookies.txt

--2023-06-28 19:27:49--  https://docs.google.com/uc?export=download&confirm=t&id=1Uwc6GfF4xSgUfaQySX9MAjU000OLjby-
Resolving docs.google.com (docs.google.com)... 108.177.127.138, 108.177.127.100, 108.177.127.139, ...
Connecting to docs.google.com (docs.google.com)|108.177.127.138|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0c-30-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/3d629fh07arcf2ssn5al4bd80f8v1b5c/1687980450000/10249583459744317057/*/1Uwc6GfF4xSgUfaQySX9MAjU000OLjby-?e=download&uuid=5eb9c416-7e38-4aa2-9c82-743dff4e2cfa [following]
Warning: wildcards not supported in HTTP.
--2023-06-28 19:27:49--  https://doc-0c-30-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/3d629fh07arcf2ssn5al4bd80f8v1b5c/1687980450000/10249583459744317057/*/1Uwc6GfF4xSgUfaQySX9MAjU000OLjby-?e=download&uuid=5eb9c416-7e38-4aa2-9c82-743dff4e2cfa
Resolving doc-0c-30-docs.googleusercontent.com (doc-0c-30-docs.googleusercontent.com)... 108.177.126.132, 2a00:1450:4013:c01::84
Connecting to doc-0c-30-docs.googleusercontent.com (doc-0c-30-docs.googleusercontent.com)|108.177.126.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 318633435 (304M) [text/csv]
Saving to: ‘data_2020.csv’

data_2020.csv       100%[===================>] 303.87M  80.8MB/s    in 3.9s

2023-06-28 19:27:54 (77.2 MB/s) - ‘data_2020.csv’ saved [318633435/318633435]

In [9]:
import numpy as np
import pandas as pd
import numpy as np

In [10]:
df_data = pd.read_csv('data_2020.csv')
df_data['codigo_estacion'] = pd.to_datetime(
    df_data['codigo_estacion'].astype(str),
    format='%Y-%m-%d')
df_data

,codigo_estacion,01000005,01200002,01200003,01201005,01201010,01201003,01001005,01110001,01202009,...,AYM00089664,AYW00067601,AYM00089606,AYW00067401,AYW00077401,AYW00068201,AYW00068701,AYW00088703,AYW00088702,AYW00090001
0,1900-01-01,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
1,1900-01-02,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2,1900-01-03,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
3,1900-01-04,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
4,1900-01-05,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43915,2020-03-27,0.2,-9999.0,-9999.0,0.0,-9999.0,0.0,-9999.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43916,2020-03-28,0.8,-9999.0,-9999.0,0.1,-9999.0,0.0,-9999.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43917,2020-03-29,0.4,-9999.0,-9999.0,0.0,-9999.0,0.0,-9999.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43918,2020-03-30,0.0,-9999.0,-9999.0,0.0,-9999.0,0.0,-9999.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43919,2020-03-31,0.0,-9999.0,-9999.0,2.6,-9999.0,0.5,-9999.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_data = df_data.fillna(-9999.0)
df_data.isna().describe()

,codigo_estacion,01000005,01200002,01200003,01201005,01201010,01201003,01001005,01110001,01202009,...,AYM00089664,AYW00067601,AYM00089606,AYW00067401,AYW00077401,AYW00068201,AYW00068701,AYW00088703,AYW00088702,AYW00090001
count,43920,43920,43920,43920,43920,43920,43920,43920,43920,43920,...,43920,43920,43920,43920,43920,43920,43920,43920,43920,43920
unique,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
top,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
freq,43920,43920,43920,43920,43920,43920,43920,43920,43920,43920,...,43920,43920,43920,43920,43920,43920,43920,43920,43920,43920

In [13]:
df = df_data
df

,codigo_estacion,01000005,01200002,01200003,01201005,01201010,01201003,01001005,01110001,01202009,...,AYM00089664,AYW00067601,AYM00089606,AYW00067401,AYW00077401,AYW00068201,AYW00068701,AYW00088703,AYW00088702,AYW00090001
0,1900-01-01,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
1,1900-01-02,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2,1900-01-03,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
3,1900-01-04,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
4,1900-01-05,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43915,2020-03-27,0.2,-9999.0,-9999.0,0.0,-9999.0,0.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
43916,2020-03-28,0.8,-9999.0,-9999.0,0.1,-9999.0,0.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
43917,2020-03-29,0.4,-9999.0,-9999.0,0.0,-9999.0,0.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
43918,2020-03-30,0.0,-9999.0,-9999.0,0.0,-9999.0,0.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
43919,2020-03-31,0.0,-9999.0,-9999.0,2.6,-9999.0,0.5,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0

In [14]:
#imputacion media -> No funciona porq solo es para datos numéricos
import pandas as pd
from sklearn.impute import SimpleImputer
imputador = SimpleImputer(strategy='mean')
imputador.fit(df)
df_imputado = pd.DataFrame(imputador.transform(df), columns=df.columns)
df_imputado

TypeError: ignored

In [15]:
#imputacion valor mas frecuente
import pandas as pd
from sklearn.impute import SimpleImputer
imputador = SimpleImputer(strategy='most_frequent')
imputador.fit(df)
df_imputado = pd.DataFrame(imputador.transform(df), columns=df.columns)
df_imputado

TypeError: ignored

In [16]:
#Valor específico
imputador = SimpleImputer(strategy='constant', fill_value='Desconocido')
imputador.fit(df)
df_imputado2 = pd.DataFrame(imputador.transform(df), columns=df.columns)
df_imputado2

TypeError: ignored

In [17]:
#Interpolacion
columnas_numericas = df.select_dtypes(include=[np.number]).columns
df_imputado3 = df[columnas_numericas].interpolate(method='linear')
df_imputado3

,01000005,01200002,01200003,01201005,01201010,01201003,01001005,01110001,01202009,01020014,...,AYM00089664,AYW00067601,AYM00089606,AYW00067401,AYW00077401,AYW00068201,AYW00068701,AYW00088703,AYW00088702,AYW00090001
0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
1,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
3,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
4,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43915,0.2,-9999.0,-9999.0,0.0,-9999.0,0.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
43916,0.8,-9999.0,-9999.0,0.1,-9999.0,0.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
43917,0.4,-9999.0,-9999.0,0.0,-9999.0,0.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
43918,0.0,-9999.0,-9999.0,0.0,-9999.0,0.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
43919,0.0,-9999.0,-9999.0,2.6,-9999.0,0.5,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0

In [18]:
#Basada en modelos
from sklearn.impute import KNNImputer

#columnas categóricas para la codificación one-hot
columnas_categoricas = df.select_dtypes(include=['object']).columns

#codificación one-hot a columnas categóricas
df_encoded = pd.get_dummies(df, columns=columnas_categoricas)

#imputación con KNN
imputador = KNNImputer(n_neighbors=5)
df_imputado4 = pd.DataFrame(imputador.fit_transform(df_encoded), columns=df_encoded.columns)
df_imputado4

TypeError: ignored

In [19]:
!pip install fancyimpute

Collecting fancyimpute
  Downloading fancyimpute-0.7.0.tar.gz (25 kB)
  Preparing metadata (setup.py) ... done
Collecting knnimpute>=0.1.0 (from fancyimpute)
  Downloading knnimpute-0.1.0.tar.gz (8.3 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: scikit-learn>=0.24.2 in /usr/local/lib/python3.10/dist-packages (from fancyimpute) (1.2.2)
Requirement already satisfied: cvxpy in /usr/local/lib/python3.10/dist-packages (from fancyimpute) (1.3.1)
Requirement already satisfied: cvxopt in /usr/local/lib/python3.10/dist-packages (from fancyimpute) (1.3.1)
Requirement already satisfied: pytest in /usr/local/lib/python3.10/dist-packages (from fancyimpute) (7.2.2)
Collecting nose (from fancyimpute)
  Downloading nose-1.3.7-py3-none-any.whl (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.7/154.7 kB 14.5 MB/s eta 0:00:00
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from knnimpute>=0.1.0->fancyimpute) (1.16.0)
Requirement already satisfied: numpy>=1.10 in /usr/local/lib/python3.10/dist-packages (from knnimpute>=0.1.0->fancyimpute) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.24.2->fancyimpute) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.24.2->fancyimpute) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.24.2->fancyimpute) (3.1.0)
Requirement already satisfied: osqp>=0.4.1 in /usr/local/lib/python3.10/dist-packages (from cvxpy->fancyimpute) (0.6.2.post8)
Requirement already satisfied: ecos>=2 in /usr/local/lib/python3.10/dist-packages (from cvxpy->fancyimpute) (2.0.12)
Requirement already satisfied: scs>=1.1.6 in /usr/local/lib/python3.10/dist-packages (from cvxpy->fancyimpute) (3.2.3)
Requirement already satisfied: setuptools>65.5.1 in /usr/local/lib/python3.10/dist-packages (from cvxpy->fancyimpute) (67.7.2)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (23.1.0)
Requirement already satisfied: iniconfig in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (2.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (23.1)
Requirement already satisfied: pluggy<2.0,>=0.12 in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (1.1.1)
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (2.0.1)
Requirement already satisfied: qdldl in /usr/local/lib/python3.10/dist-packages (from osqp>=0.4.1->cvxpy->fancyimpute) (0.1.7)
Building wheels for collected packages: fancyimpute, knnimpute
  Building wheel for fancyimpute (setup.py) ... done
  Created wheel for fancyimpute: filename=fancyimpute-0.7.0-py3-none-any.whl size=29880 sha256=c75e51b39f8a9d30cd8d462f3f2151e0c3935cd49f6dea42a62dad113bc8001f
  Stored in directory: /root/.cache/pip/wheels/7b/0c/d3/ee82d1fbdcc0858d96434af108608d01703505d453720c84ed
  Building wheel for knnimpute (setup.py) ... done
  Created wheel for knnimpute: filename=knnimpute-0.1.0-py3-none-any.whl size=11335 sha256=14cb57e1d219d03b311a2ec71f42e0accf426b02b829a1ad73f3cf23dbfa082c
  Stored in directory: /root/.cache/pip/wheels/46/06/a5/45a724630562413c374e29c08732411d496092408b3a7bf754
Successfully built fancyimpute knnimpute
Installing collected packages: nose, knnimpute, fancyimpute
Successfully installed fancyimpute-0.7.0 knnimpute-0.1.0 nose-1.3.7

In [20]:
#imputacion multiple
from sklearn.impute import SimpleImputer

# Crear una instancia de SimpleImputer con la estrategia 'most_frequent'
imputador = SimpleImputer(strategy='most_frequent')

# Imputar los valores faltantes en el DataFrame
df_imputado5 = pd.DataFrame(imputador.fit_transform(df), columns=df.columns)

df_imputado5

TypeError: ignored

In [ ]:

df_precip = pd.read_csv("cr2_prDaily_2020_ghcn.csv", header=0)
# Asignar la primera fila como encabezado
# Asignar la primera fila como encabezado
df_precip.columns = df_precip.iloc[0]

# Eliminar la primera fila (antiguo encabezado)
df_precip = df_precip[1:]

# Reiniciar los índices del DataFrame
df_precip.reset_index(drop=True, inplace=True)

# Ahora df_precip contendrá los datos con la primera fila como encabezado

# Puedes verificar los nombres de las columnas
df_precip