<a href="https://colab.research.google.com/github/Diegogp95/mineria/blob/main/Test_Mineria_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook test para la integración con GitHub

https://drive.google.com/file/d/1SDD1WNGWsk7QR_2bumYvq6_4XViTA4Vf/view?usp=sharing

In [2]:
%%shell

# download the Custom dataset from created Drive folder
wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt --keep-session-cookies --no-check-certificate 'https://docs.google.com/uc?export=download&id=1SDD1WNGWsk7QR_2bumYvq6_4XViTA4Vf' -O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=1SDD1WNGWsk7QR_2bumYvq6_4XViTA4Vf" -O cr2_prDaily_2018_stations_ghcn.csv && rm -rf /tmp/cookies.txt

--2023-05-09 13:55:51--  https://docs.google.com/uc?export=download&confirm=&id=1SDD1WNGWsk7QR_2bumYvq6_4XViTA4Vf
Resolving docs.google.com (docs.google.com)... 172.217.204.138, 172.217.204.102, 172.217.204.113, ...
Connecting to docs.google.com (docs.google.com)|172.217.204.138|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0k-30-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/8q9elk5o475fst2vj1i9igjegc43mg8a/1683640500000/10249583459744317057/*/1SDD1WNGWsk7QR_2bumYvq6_4XViTA4Vf?e=download&uuid=9972f713-2860-4911-b76d-72a3b8846340 [following]
Warning: wildcards not supported in HTTP.
--2023-05-09 13:55:51--  https://doc-0k-30-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/8q9elk5o475fst2vj1i9igjegc43mg8a/1683640500000/10249583459744317057/*/1SDD1WNGWsk7QR_2bumYvq6_4XViTA4Vf?e=download&uuid=9972f713-2860-4911-b76d-72a3b8846340
Resolving doc-0k-30-docs.googleusercontent.com (doc-0k-30-docs.googleusercontent.com)... 74.125.141.132, 2607:f8b0:400c:c06::84
Connecting to doc-0k-30-docs.googleusercontent.com (doc-0k-30-docs.googleusercontent.com)|74.125.141.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 162566 (159K) [text/csv]
Saving to: ‘cr2_prDaily_2018_stations_ghcn.csv’

cr2_prDaily_2018_st 100%[===================>] 158.76K  --.-KB/s    in 0.001s

2023-05-09 13:55:51 (108 MB/s) - ‘cr2_prDaily_2018_stations_ghcn.csv’ saved [162566/162566]

In [3]:
import pandas as pd

df = pd.read_csv("/content/cr2_prDaily_2018_stations_ghcn.csv")

In [4]:
df

,codigo_estacion,institucion,fuente,nombre,altura,latitud,longitud,codigo_cuenca,nombre_cuenca,codigo_sub_cuenca,nombre_sub_cuenca,inicio_observaciones,fin_observaciones,cantidad_observaciones,inicio_automatica
0,1000005,DGA,dga_web,Visviri,4080,-17.5950,-69.4831,10.0,Altiplanicas,100.0,Entre Limite Peru-Bolivia Y Rio Lauca,1968-05-01,2018-03-09,17536,2016-08-01
1,1200002,DGA,dga_web,Villa Industrial (Tacora),4080,-17.7719,-69.7244,12.0,Rio Lluta,120.0,Rio Lluta Alto,1975-01-01,2017-03-31,14820,-
2,1200003,DGA,dga_web,Humapalca,3980,-17.8350,-69.7039,12.0,Rio Lluta,120.0,Rio Lluta Alto,1971-12-01,2017-03-31,16419,-
3,1201005,DGA,dga_web,Rio Caracarani En Humapalca,3908,-17.8428,-69.6994,12.0,Rio Lluta,120.0,Rio Lluta Alto,2013-06-01,2018-01-30,1489,2016-08-31
4,1201010,DGA,dga_web,Alcerreca,3990,-17.9931,-69.6594,12.0,Rio Lluta,120.0,Rio Lluta Alto,1971-01-01,2017-03-31,16589,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244,AYW00068201,GHCN,ghcn_ftp,Byrd Stn,1543,-80.0167,-119.5330,NaN,NaN,NaN,NaN,1957-01-10,1988-01-31,5729,-
1245,AYW00068701,GHCN,ghcn_ftp,Brockton Stn,101,-80.0167,-178.4170,NaN,NaN,NaN,NaN,1966-01-01,1969-12-28,276,-
1246,AYW00088703,GHCN,ghcn_ftp,Little Jeana Stn,54,-81.3833,170.7500,NaN,NaN,NaN,NaN,1964-10-04,1966-01-22,226,-
1247,AYW00088702,GHCN,ghcn_ftp,Beardmore Camp,59,-83.4000,174.7500,NaN,NaN,NaN,NaN,1959-10-18,1963-02-28,417,-
1248,AYW00090001,GHCN,ghcn_ftp,Amundsen-Scott,-1000,-90.0000,0.0000,NaN,NaN,NaN,NaN,1957-01-09,1996-11-30,13891,-